Projects/Practicals/Practical[[:space:]]1[[:space:]]-AUTOMATED[[:space:]]PUMP[[:space:]]PRACTICAL/Assembly[[:space:]]Photos+[[:space:]]videos/automatic[[:space:]]water[[:space:]]level[[:space:]]control[[:space:]]project.mp4 filter=lfs diff=lfs merge=lfs -text
